.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.password-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b6c3ca;
  border-radius: 4px;
  padding: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .password-item {
    width: 230px;
    height: 100px;
  }
}

.details {
  display: flex;
  align-items: center;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 8px;
  flex-shrink: 0;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

.website-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 2px;
}

.user-name {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  margin-top: 2px;
  margin-bottom: 2px;
}

.stars {
  width: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .stars {
    width: 120px;
  }
}

.password {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  margin-top: 2px;
  margin-bottom: 2px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete-icon {
  height: 20px;
  width: 20px;
}
